<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorld" class="HelloWorld">
        <property name="name" value="Spring" />
    </bean>
    <bean id="helloWorld2" class="com.github.HelloWorld2">
        <property name="name" value="Spring Hi 2" />
    </bean>
</beans>